[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/victoriadrake/hugo-theme-sam.git
